html {
  overflow-x: hidden;
  пше margin-right: calc(-1 * (100vw - 100%));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper  {
  width: 50vw;
  background-color: #395725;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  font-size: 1em;
}

.title {
  font-size: 1.4em;
  color: azure;
  padding: 1%;
}

.mems {
  width: 100%;
}

.picture {
  width: 0;
  height: 0;
  opacity: 0;
  animation: ani 2.5s forwards;
}

input:checked ~ .picture {
  width: 40vh;
  height: auto;
  display: block;
  animation: ani 2.5s forwards;
  opacity: 1;
  padding: 1%;
  margin: 0 auto;
} 

.arrow {
  width: 3%;
  height: auto;
}


label:hover .picture  {
  width: 40vh;
  height: auto;
  display: block;
  transition: all .5s;
  padding: 1%;
  margin: 0 auto;
  animation: ani 2.5s forwards;
  opacity: 1;
} 

.label:hover .arrow {
  transition: .5s;
  transform: rotate(45deg);
}

.label {
  cursor: pointer;
}

input {
  display: none;
}

.mem_title {
  font-size: 1.2em;
}

.mem_header {
  display: flex;
  justify-content: space-between;
  color: azure;
  padding: 1%;
  background-color: #0a380c;
}

.arrow-active {
  transform: rotate(180deg);
}

.mem1 {  
  background-image: url("img/number_1.jpg");
}

.mem2 {
  background-image: url("img/number_2.jpg");
}

.mem3 {
  background-image: url("img/number_3.jpg");
}

.mem4 {
  background-image: url("img/number_4.jpg");
}

.mem5 {
  background-image: url("img/number_5.jpg");
}




